<!DOCTYPE html>
<html>
<head>
    <title>Bills</title>
</head>
<body>
    <h1>Bills for Group {{ group.name }}</h1>
    <ul>
        {% for bill in bills %}
            <li>
                <h2>{{ bill.name }}</h2>
                <p>Amount: {{ bill.amount }}</p>
                <a href="{% url 'bill_details' group.id bill.id %}">Details</a>
            </li>
        {% endfor %}
        <div class="button-container">
            <!-- Button to view joined groups -->
            <a href="{% url 'create_bill' group.id %}">
                <button type="button">Create Bill</button>
            </a>
        </div>
    </ul>
</body>
</html>
